/*--------------------------------------------------------------------------

    ActionMenu - v1.0.1
    Created by WolfKnight
    Additional help from lowheartrate, TheStonedTurtle, and Briglair.

--------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
  /* Home page "carousel" area height*/
  --carousel-height: 400px;

  /* Content Margin from left and right */
  --content-margin: 20vw;

  /* Server Header Background Image Height */
  --server-img-height: 600px;
  /* Colors */
  --col-1: #5F70B9;
  --bg-col-1: #232429;
  --bg-col-2: #3b3c45;
  --col-3: #2f3037;
  --footer-col: #17181c;

  /* Global Border Radius */
  /* For nested rounded corners reduce by 2 ie. next would be 5px; */
  --border-radius: 7px;
  --border-radius2: 5px;

  /* Default Margins */
  --default-margin: 20px;
}

#actionmenu {
    position: absolute;
    overflow: hidden;
    top: 5vh;
    right: 3vw;
    height: 95%;
}

#actionmenu div {
    background: var(--bg-col-1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 100%;
    border-radius: var(--border-radius);
    padding: 3px;
    opacity: 95%;
}

#actionmenu button, button:hover, button:active, button:focus {
    border-radius: var(--border-radius2);
    border: none;
}

#actionmenu button {
    background: var(--bg-col-2);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 10px 24px;
    margin: 4px;
    cursor: pointer;
    width: 15vw;
    display: block;
    text-transform: uppercase;

    text-align: left;

    transition: all 0.2s ease;
}

#actionmenu button:hover {
    background: var(--col-1) !important;
}

#actionmenu button:active {
    background: var(--col-3);
}

button #sub {
  background: white;
}

.level {
  float: right;
}

.back {
  background: var(--col-3) !important;
  font-style: italic;
}

#newPage {
  background: var(--col-3) !important;
}
